<div class="container">
    <div class="alert alert-primary" role="alert">
       interpolation syntax
      </div>
      <div class="alert alert-secondary" role="alert">
        product title : {{title}}
      </div>
      <div class="alert alert-success" role="alert">
        product description : {{desc}}
      </div>
      <div class="alert alert-danger" role="alert">
        product price : {{price}}
      </div>
      <div class="alert alert-warning" role="alert">
        product status : {{isActive}}
    </div>
    <div class="alert alert-info" role="alert">
      customer : id : {{customer.id}} - {{customer.name}}- {{customer.age}}
    </div>
</div>
<div class="container">
    <div class="alert alert-primary" role="alert">
       property syntax
       </div>
       <div class="alert alert-secondary" role="alert">
        product title : <span [innerText]="title"></span>
      </div>
      <div class="alert alert-success" role="alert">
        product description : <span [innerText]="desc"></span>
      </div>
      <div class="alert alert-success" role="alert">
        product price : <span [innerText]="price"></span>
      </div>
     

</div>
<div class="container">

</div>